@{
    ViewBag.Title = "About";
}
<div class="container text-left">
    <p>BloombergReaderWeb is a website created by me to play with different web technologies.</p>
    <p>Underneath it uses Bloomberg API Emulator to emulate data from Bloomberg.</p>
</div>

