@model IEnumerable<BloombergReader.Core.Models.Story>
@{
    ViewBag.Title = "News";
}    

<div class="row">
    <div class="form col-md-3">
        <form method="POST">
            <!-- Headline -->
            <div class="form-group">
                <label class="label label-primary" for="Headline">Headline</label>
                <div>
                    <input class="form-control" type="text" name="Headline" /><br>
                </div>
            </div>

            <!-- Text -->
            <div class="form-group">
                <label class="label label-primary" for="Text">Text</label><br>
                <div>
                    <textarea class="form-control" name="Text" rows="8"></textarea>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary btn-block" id="progressBtn" onclick="move()">
                        <span class="glyphicon glyphicon-globe"></span> Add news
                    </button>
                </div>
            </div>

            @Html.AntiForgeryToken();

        </form>
    </div>
    
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <h3>@Html.DisplayFor(modelItem => item.Headline)</h3>
            <p>@Html.DisplayFor(modelItem => item.Text)</p>
        }
    </div>
</div>

